h1{
	font-family: "gill sans";
	color:#FF69B4;
	background-color:#E6E6FA;
	padding:30px;
	margin:90px;*/
}

h2{
	font-family: "gill sans";
	color: #FF69B4;
	background-color:#E6E6FA;
	padding:30px;
	margin:90px;
}

h3{
	font-family: "gill sans";
	color: #FF69B4;
	background-color:#E6E6FA;
	padding:30px;
	margin:90px;
}


a{
	font-style: normal;
	color: #9370DB;
}
a:hover{
	font-style: normal;
	color:#FF69B4;
	background-color: #E6E6FA;
}

#grey-margins{
	color: #000000;
	background-color:#A9A9A9;
	padding:30px;
	margin:90px;
}